// Font
$mainFont: "Montserrat";

$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;

// Main color
$default-color: #ffffff;
$primary-color: #4340da;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #f6f6f6;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;

// SamGarden Colors

$color00CC2D: #00cc2d;
$colorFF6633: #ff6633;
$colorFA4F16: #f73f01;
$color686870: #686870;
$color86868B: #86868b;
$color9E9E9E: #9e9e9e;
$color1D1D1F: #1d1d1f;
$colorFFC700: #ffc700;
$colorF44837: #f44837;
$color55B20B: #55b20b;
$colorD2D2D7: #d2d2d7;
$colorEDEDED: #ededed;
$colorF5F5F5: #f5f5f5;
$colorF5F5F7: #f5f5f7;
$color272727pr10: rgba(39, 39, 39, 0.1);
$color272727pr5: rgba(39, 39, 39, 0.05);
$colorFEF7ED: #fef7ed;
$colorFBDCD5: #fbdcd5;
$colorCCF5D5: #ccf5d5;